<header>
  <img class="logo" src="assets/logo.svg" alt="Logo">
  <div class="back" *ngIf="back$|async as back else search">
    <a tuiButton appearance="flat" size="xs" [routerLink]="back.url">
      <tui-svg src="tuiIconArrowLeftLarge"></tui-svg>
    </a>
    {{back.title}}
  </div>
  <ng-template #search>
    <div class="search">
      <tui-input tuiTextfieldSize="s"
                 [ngModel]="searchService.query$|async"
                 (ngModelChange)="searchService.queryChange($event)"
                 (keydown.enter)="searchService.search()">
        Поиск
      </tui-input>
    </div>
  </ng-template>
  <div class="buttons">
    <ng-container *ngIf="user$|async as user">
      <a tuiButton size="m" appearance="flat" routerLink="/account" iconRight="tuiIconUser">
        {{user.firstName}}
      </a>
    </ng-container>
    <ng-container *ngIf="user$|async as user else login">
      <button tuiIconButton size="m" icon="tuiIconLogoutLarge" appearance="flat" (click)="logout()"></button>
    </ng-container>
    <ng-template #login>
      <a tuiIconButton size="m" icon="tuiIconLoginLarge" appearance="flat" routerLink="/login" [skipLocationChange]="true"></a>
    </ng-template>
    <a tuiIconButton size="m" icon="assets/cart.svg" appearance="flat" routerLink="/cart"></a>
  </div>
</header>
