:host {
  display: flex;
  flex-direction: column;
}

.preview {
  height: 300px;
  background: var(--tui-base-02);
  margin-bottom: 6px;
}

.title {
  font: var(--tui-font-text-m);
  color: var(--tui-text-01);
  font-weight: bold;
}

.author {
  font: var(--tui-font-text-s);
  color: var(--tui-link);
  margin-bottom: 6px;
}

.year {
  font: var(--tui-font-text-m);
  color: var(--tui-text-01);
}

.genre {
  font: var(--tui-font-text-s);
  color: var(--tui-link);
}

.price {
  font: var(--tui-font-text-xl);
  color: var(--tui-primary);
  font-weight: bold;
}

.footer {
  margin-top: 32px;
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
