:host {
  display: flex;
  height: 100%;
}

.books {
  display: grid;
  grid-auto-rows: min-content;
  grid-auto-columns: 200px;
  grid-auto-flow: column;
  grid-gap: 24px;
  padding: 24px 36px 24px 0;
  flex: 1;
}
